openapi: 3.0.3
info:
  title: 心境书签 API
  description: |
    微信小程序「心境书签」后端。

    经网关访问时走 `/bookmark` 前缀。登录接口需要真实的微信 `js_code`，本地可先测「文学推荐」和「健康检查」。
    需要登录的接口：右上角 **Authorize** 填 `Bearer` JWT。
  version: "1.0.0"

servers:
  - url: https://api.soupcircle.xyz/bookmark
    description: 公网（经网关）
  - url: /bookmark
    description: 相对路径 /bookmark
  - url: /
    description: 本地无前缀

tags:
  - name: 推荐
  - name: 账号
  - name: 分享
  - name: 系统

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Envelope:
      type: object
      properties:
        code:
          type: integer
          example: 0
        msg:
          type: string
          example: success
        data: {}
    Literature:
      type: object
      properties:
        literature_text:
          type: string
        book_name:
          type: string
          example: 匆匆
        author:
          type: string
          example: 朱自清
        style:
          type: string
          enum: [warm, melancholy, nostalgic, hopeful]
        quota:
          type: object
          description: 当日额度。INTERPRET_DAILY_LIMIT=0 或 Redis 不可用时省略
          properties:
            used:
              type: integer
              example: 2
            limit:
              type: integer
              example: 3
            remaining:
              type: integer
              example: 1

paths:
  /health:
    get:
      tags: [系统]
      summary: 健康检查
      responses:
        "200":
          description: 服务和数据库可用
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          status:
                            type: string
                            example: ok

  /interpret:
    post:
      tags: [推荐]
      summary: 按心情推荐文学原文
      description: |
        需要登录。新生成和「换一段」都走本接口，按 `user_id` 每天成功 3 次（时区 Asia/Shanghai，0 点重置）。
        JWT 和参数校验通过后、调用 DeepSeek 前，用微信内容安全 2.0（`msgSecCheck`，scene=4）审核 `mood`。
        `result.suggest` 为 `risky` 或 `review` 时返回 `code=1005`，`msg` 为给用户看的中文原因，不占次数、不调模型。
        微信超时或 token 失败只记日志并放行。空心情仍是 `code=1001`。`/share-image`、`/login` 不审核。
        「换一段」与首次生成走同一接口；会读取该用户近期历史，要求模型换一篇不同的作品，避免重复上次内容。
        参数错误不占次数；DeepSeek 失败但返回兜底文学也算成功。`/share-image`、`/login`、`/history` 不占用次数。
        `INTERPRET_DAILY_LIMIT=0` 时不限制。
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mood]
              properties:
                mood:
                  type: string
                  example: 想爸爸了
                  maxLength: 200
      responses:
        "200":
          description: |
            HTTP 始终 200。`code=0` 成功；`code=1001` 参数错误；`code=1002` 当日次数用完；`code=1005` 心情未通过内容安全审核；`code=4001` 未登录。
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Literature"

  /login:
    post:
      tags: [账号]
      summary: 微信登录
      description: |
        `code` 来自小程序 `wx.login`。Swagger 里没有真实 code 时会返回微信登录失败。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  example: wx.login 返回的 code
                nickname:
                  type: string
                  example: 心境用户
                avatar_url:
                  type: string
      responses:
        "200":
          description: code=0 成功，data 含 token 和 user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"

  /share-image:
    post:
      tags: [分享]
      summary: 上传小程序画好的分享图
      description: |
        小程序 canvas 出图后用 `wx.uploadFile` 上传，后端只存 R2，不再重绘。
        `Content-Type: multipart/form-data`，字段名 `image`。
        不占用每日推荐次数。请把 `api.soupcircle.xyz` 配进 uploadFile / downloadFile 合法域名。
        旧版 JSON 出图已下线，会返回 code=1001「请升级后重试」。
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image]
              properties:
                image:
                  type: string
                  format: binary
                  description: JPEG/PNG，建议 750×1334，最大 2MB
                literature_text:
                  type: string
                  description: 可选，只归档
                book_name:
                  type: string
                  example: 故乡
                author:
                  type: string
                  example: 鲁迅
                style:
                  type: string
                  enum: [warm, melancholy, nostalgic, hopeful]
                mood:
                  type: string
      responses:
        "200":
          description: |
            HTTP 始终 200。`code=0` 时 data.image_url 为本 API 下的图片地址；
            `1001` 请上传分享图或请升级后重试；`1003` 图片太大；`4001` 登录过期。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"

  /wxacode:
    get:
      tags: [分享]
      summary: 获取小程序码公网地址
      description: |
        服务端调用 `wxa/getwxacodeunlimit`（page=`pages/index/index`，scene=`share`，width=280）。
        同一 page+scene+env 只生成一次并缓存到 R2。微信失败 `code=1004`。
      security:
        - BearerAuth: []
      responses:
        "200":
          description: code=0 时 data.wxacode_url 如 `/wxacode/share.png`
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"

  /wxacode/{filename}:
    get:
      tags: [分享]
      summary: 下载小程序码 PNG
      description: 无需登录，供 canvas 加载。目前仅 `share.png`。
      parameters:
        - name: filename
          in: path
          required: true
          schema:
            type: string
            example: share.png
      responses:
        "200":
          description: PNG 图片
          content:
            image/png:
              schema:
                type: string
                format: binary
        "404":
          description: 尚未生成或不存在

  /share-images/{filename}:
    get:
      tags: [分享]
      summary: 下载分享图
      description: 后端从对象存储读取后原样返回 JPEG，无需登录。文件名为 UUID。
      parameters:
        - name: filename
          in: path
          required: true
          schema:
            type: string
            example: 550e8400-e29b-41d4-a716-446655440000.jpg
      responses:
        "200":
          description: JPEG 图片
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
        "404":
          description: 文件不存在或文件名非法

  /history:
    get:
      tags: [账号]
      summary: 分页查询历史
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
            maximum: 50
      responses:
        "200":
          description: code=0 时 data 含 list/total/page/page_size。历史里的 image_url 同样改写为本 API 地址。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
