openapi: 3.0.3
info:
  title: 心境书签 API
  description: |
    微信小程序「心境书签」后端。

    经网关访问时走 `/bookmark` 前缀。登录接口需要真实的微信 `js_code`，本地可先测「文学推荐」和「健康检查」。
    需要登录的接口：右上角 **Authorize** 填 `Bearer` JWT。
  version: "1.0.0"

servers:
  - url: https://api.soupcircle.xyz/bookmark
    description: 公网（经网关）
  - url: /bookmark
    description: 相对路径 /bookmark
  - url: /
    description: 本地无前缀

tags:
  - name: 推荐
  - name: 账号
  - name: 分享
  - name: 系统

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Envelope:
      type: object
      properties:
        code:
          type: integer
          example: 0
        msg:
          type: string
          example: success
        data: {}
    Literature:
      type: object
      properties:
        literature_text:
          type: string
        book_name:
          type: string
          example: 匆匆
        author:
          type: string
          example: 朱自清
        style:
          type: string
          enum: [warm, melancholy, nostalgic, hopeful]
        quota:
          type: object
          description: 当日额度。INTERPRET_DAILY_LIMIT=0 或 Redis 不可用时省略
          properties:
            used:
              type: integer
              example: 2
            limit:
              type: integer
              example: 3
            remaining:
              type: integer
              example: 1

paths:
  /health:
    get:
      tags: [系统]
      summary: 健康检查
      responses:
        "200":
          description: 服务和数据库可用
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          status:
                            type: string
                            example: ok

  /interpret:
    post:
      tags: [推荐]
      summary: 按心情推荐文学原文
      description: |
        需要登录。新生成和「换一段」都走本接口，按 `user_id` 每天成功 3 次（时区 Asia/Shanghai，0 点重置）。
        参数错误不占次数；DeepSeek 失败但返回兜底文学也算成功。`/share-image`、`/login`、`/history` 不占用次数。
        `INTERPRET_DAILY_LIMIT=0` 时不限制。
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mood]
              properties:
                mood:
                  type: string
                  example: 想爸爸了
                  maxLength: 200
      responses:
        "200":
          description: |
            HTTP 始终 200。`code=0` 成功；`code=1001` 参数错误；`code=1002` 当日次数用完；`code=4001` 未登录。
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Literature"

  /login:
    post:
      tags: [账号]
      summary: 微信登录
      description: |
        `code` 来自小程序 `wx.login`。Swagger 里没有真实 code 时会返回微信登录失败。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  example: wx.login 返回的 code
                nickname:
                  type: string
                  example: 心境用户
                avatar_url:
                  type: string
      responses:
        "200":
          description: code=0 成功，data 含 token 和 user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"

  /share-image:
    post:
      tags: [分享]
      summary: 生成分享图
      description: |
        图片存到对象存储，但 `data.image_url` 只返回本 API 域名下的地址
        （如 `https://api.soupcircle.xyz/bookmark/share-images/{uuid}.jpg`），
        小程序 `wx.downloadFile` 请使用该地址，并把 `api.soupcircle.xyz` 配进 downloadFile 合法域名。

        底色跟随请求里的 `style`（warm 暖橙 / melancholy 暮蓝 / nostalgic 旧纸褐 / hopeful 芽绿），非法值用 nostalgic。
        `book_name` 不要带《》，出图只包一层书名号。
        昵称：`nickname` → 用户资料 → 心境用户。头像：`avatar_base64` → 下载 `avatar_url` → 空心圆；头像失败仍画昵称。
        本接口不占用每日推荐次数。
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [literature_text, book_name, author, style]
              properties:
                literature_text:
                  type: string
                book_name:
                  type: string
                  example: 故乡
                  description: 不要带《》，后端出图时只拼一次《书名》
                author:
                  type: string
                  example: 鲁迅
                style:
                  type: string
                  enum: [warm, melancholy, nostalgic, hopeful]
                  example: warm
                mood:
                  type: string
                  description: 可选，写入历史用
                nickname:
                  type: string
                  example: 用户昵称
                avatar_url:
                  type: string
                  example: https://thirdwx.qlogo.cn/...
                avatar_base64:
                  type: string
                  description: 可带 data:image/...;base64, 前缀；优先于 avatar_url
      responses:
        "200":
          description: code=0 时 data.image_url 为本 API 下的图片地址
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"

  /share-images/{filename}:
    get:
      tags: [分享]
      summary: 下载分享图
      description: 后端从对象存储读取后原样返回 JPEG，无需登录。文件名为 UUID。
      parameters:
        - name: filename
          in: path
          required: true
          schema:
            type: string
            example: 550e8400-e29b-41d4-a716-446655440000.jpg
      responses:
        "200":
          description: JPEG 图片
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
        "404":
          description: 文件不存在或文件名非法

  /history:
    get:
      tags: [账号]
      summary: 分页查询历史
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
            maximum: 50
      responses:
        "200":
          description: code=0 时 data 含 list/total/page/page_size。历史里的 image_url 同样改写为本 API 地址。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
